<%- include('./fav-lijst') %>


<section class="rating-section">
    <form method="POST"></form>


<a href="/fav-lijst">Terug</a>

<h2>Beoordeling:</h2>

<ul>
    <li>Keuken</li>
    <li>Tuin</li>
    <li>Ligging</li>

    <li>Badkamer</li>
    <li>Prijs</li>
    <li>Oppervlakte</li>
</ul>


<textarea></textarea>

<input type="submit">

</section>

<%- include('./partials/foot') %>
